<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="omdbapiKey" label="OMDB api Key" type="text" default=""/>
        <setting id="client_country" type="text" default="" visible="false"/>
        <setting id="deviceID" type="text" default="" visible="false"/>
        <setting id="logged" type="bool" default="false" visible="false"/>
        <setting id="token" type="text" default="" visible="false"/>
        <setting id="userID" type="text" default="" visible="false"/>
    </category>
</settings>
