<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings version="1">
    <section id="plugin.video.mubi">
        <category id="general" label="30000" help="">
            <group id="1">
                <setting id="omdbapiKey" label="30001" type="string" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30001</heading>
                    </control>
                </setting>
                <setting id="accept-language" label="30002" type="string" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                        <options>
                            <option label="30500">tr</option>
                            <option label="30501">en</option>
                            <option label="30502">fr</option>
                            <option label="30503">es</option>
                            <option label="30504">de</option>
                            <option label="30505">it</option>
                            <option label="30506">nl</option>
                            <option label="30507">pt</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
            </group>
            <group id="2">
                <visible>false</visible>
                <setting id="client_country" type="string" label="" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="deviceID" type="string" label="" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="logged" type="boolean" label="" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="token" type="string" label="" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="userID" type="string" label="" help="">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="first_run_completed" type="boolean" label="" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
        <category id="filters" label="30400" help="">
            <group id="1">
                <setting id="skip_genres" label="30401" type="string" help="30402">
                    <level>0</level>
                    <default/>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="edit" format="string">
                        <heading>30401</heading>
                    </control>
                </setting>
            </group>
        </category>
    </section>
</settings>
